/* page-about */
.subtitle {
  margin-left: 0.63rem;
  margin-bottom: 1.88rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.prose>.subsection>p {
  margin-left: 3.75rem;
  margin-right: 0.63rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.separator {
  width: 20rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.separator>hr {
  border-color: #F2F1ED;
  border-width: 0.09375rem;
}

.vectors1 {
  margin-top: 6.25rem;
  margin-left: -0.6rem !important;
  margin-bottom: 1.88rem;
}

.vectors1>img {
  width: 23.75rem;
}

.vectors2 {
  margin-left: 0 !important;
  margin-top: 6.25rem;
  margin-right: 0 !important;
  margin-bottom: 1.88rem;
}

.vector2_pc {
  display: none;
}

.vedtor2_mobile {
  display: block;
}

.vectors1>img {
  width: 28.625rem;
}

.pagesection_pc {
  display: none;
}

.container.container--full {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.prose>p>img {
  width: 90%;
  max-width: 500px;
}

.prose>p>a {
  color: #F2F1ED;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.pagesection_mobile {
  text-align: right;
}
.separator_pc {
  display: none;
}

@media screen and (min-width: 1000px) {
  .vectors1 {
    text-align: center;
    justify-self: center;
  }

  .vectors1>img {
    transform: rotate(-0.25turn);
    width: 100%;
    object-fit: contain;
  }

  .prose {
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; */
    grid-template-columns: 1fr 1fr;
  }

  .subtitle {
    margin-left: 3.75rem;
  }

  .vector2_pc {
    display: block;
    text-align: center;
  }

  .vector2_mobile {
    display: none;
  }

  .separator {
    grid-column: span 2;
    width: 100%;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }
  .separator_pc {
    display: block;
    width: 50%;
    margin-left: 3.75rem;
  }
  .pagesection_mobile {
    display: none;
  }

  .pagesection_pc {
    display: block;
  }

  .subsection {
    padding: 1rem;
  }

  .prose>p>img {
    width: 100%;
    max-width: 500px;
  }

  .prose>p>img {
    width: 100%;
  }
}


.reveal_fadein_letter {
  opacity: 0;
}

.reveal_fadein_letter.hidden {
  opacity: 0;
}

.reveal_fadein_letter.active {
  opacity: 1;
}

.reveal_fadein_letter>span {
  opacity: 0;
  transition: opacity 400ms cubic-bezier(1, 0, 0.1, 1);
}

.reveal_fadein_letter.active>span {
  opacity: 1;
}

.reveal_tran_tb {
  opacity: 0;
  transform: translate(0, -4vw);
}

.reveal_tran_bt {
  opacity: 0;
  transform: translate(0, 4vw);
}

.reveal_tran_rl {
  opacity: 0;
  transform: translate(4vw, 0);
}

.reveal_tran_lr {
  opacity: 0;
  transform: translate(-4vw, 0);
}

.reveal_tran_tb.active,
.reveal_tran_bt.active,
.reveal_tran_rl.active,
.reveal_tran_lr.active {
  transition: transform 750ms ease-in-out 100ms, opacity 750ms ease-in-out 100ms;
  opacity: 1;
  transform: translate(0, 0);
}

.reveal_tran_tb.hidden,
.reveal_tran_bt.hidden,
.reveal_tran_rl.hidden,
.reveal_tran_lr.hidden {
  visibility: hidden;
  opacity: 0;
  transition: transform 1s, visibility 0s 1s, opacity 1s ease-out;
}

.reveal_tran_tb.hidden a,
.reveal_tran_bt.hidden a,
.reveal_tran_rl.hidden a,
.reveal_tran_lr.hidden a {
  pointer-events: none;
  cursor: default;
}
